{{ define "hero" }}
  {{ partial "components/hero" . }}
{{ end}}

{{ define "main" }}
  <main id="main" class="main-page" aria-label="Main Content" tabindex="0">
    <time id="event-1" class="text-black dblock" data-event="{{ .Params.eventDate }}" data-expire="{{ .Params.expiryDate }}">
      <!-- <script>
        function getLang()
        {
        if (navigator.languages != undefined) 
        return navigator.languages[0]; 
        else 
        return navigator.language;
        }
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var el = document.getElementById('event-1');
        var start = new Date(el.getAttribute('data-event'));
        var end = new Date(el.getAttribute('data-expire'));
        console.log("hey",el,start,end.toDateString());
        options.timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone,
        options.timeZoneName = 'short';
        document.write(start.toLocaleTimeString(getLang(),options)) 
        document.write(" - ")
        document.write(end.toLocaleTimeString(getLang(),options))


      </script> -->
      Start Date: {{ dateFormat "Monday, Jan 2, 2006 3:04 AM" .Params.eventDate  }}<br/>
      End Date: {{ dateFormat "Monday, Jan 2, 2006 3:04 AM" .Params.expiryDate  }}
    </time>
    {{ .Content }}
    {{ with .Params.location }}
      {{ partial "components/google-map" . }}
    {{ end }}
    {{ partial "components/share-buttons.html" . }}
  </main>
{{ end }}

{{ define "sidebar" }}
  {{ partial "aside" . }}
{{ end }}