{{/**
   * Share Buttons
   *
   * Social Media share butons
   *
   * @version 1.0.0
	 *
   */}}

<!-- Social Button HTML -->
<div class="share-buttons">
  <span>
    Share:&nbsp;&nbsp;
  </span>
      <!-- Pinterest -->
  <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
      {{ partial "icons/pinterest" }}
      <span class="sr-only">Share on Pinterest (Opens in a new window)</span>
  </a>
  <!-- Twitter -->
  <a href="http://twitter.com/share?url={{ .Permalink | urlize }}&text={{ .Summary  | urlize }}" target="_blank" class="btn share-btn twitter" title="Share on Twitter (Opens in a new window)" aria-label="Share on Twitter (Opens in a new window)" tabindex="0">
    {{ partial "icons/twitter" }}
    <span class="sr-only">Share on Twitter (Opens in a new window)</span>
  </a>

  <!-- Facebook -->
  <a href="http://www.facebook.com/sharer/sharer.php?u={{ .Permalink  | urlize }}" target="_blank" class="btn share-btn facebook" title="Share on Faecbook (Opens in a new window)" aria-label="Share on Faecbook (Opens in a new window)" tabindex="0">
    {{ partial "icons/facebook" }}
    <span class="sr-only">Share on Faecbook (Opens in a new window)</span>
  </a>

  <!-- LinkedIn -->
  <a href="http://www.linkedin.com/shareArticle?url={{ .Permalink  | urlize }}&title={{ .Title  | urlize }}&summary={{ .Summary | urlize  }}&source={{ .Permalink | urlize }}" target="_blank" class="btn share-btn linkedin" title="Share on LinkedIn (Opens in a new window)" aria-label="Share on LinkedIn" tabindex="0">
    {{ partial "icons/linkedin"}}
    <span class="sr-only">Share on LinkedIn (Opens in a new window)</span>
  </a>
  <!-- Email -->
  <a href="mailto:?subject={{ .Title | urlize }}&body={{ .Title  | urlize }}%0A%0A{{ .Permalink  | urlize }}%0A%0A{{ .Summary  | urlize }}" target="_blank" class="btn share-btn email" title="Share by Email (Opens in a new window)" aria-label="Share by Email (Opens in a new window)" tabindex="0">
    {{ partial "icons/email" }}
    <span class="sr-only">Share by Email (Opens in a new window)</span>
  </a>
</div>