@use './config';
@use './utility';
@use 'sass:list' as list;
@use 'sass:map' as map;

$canvasPadding: calc(var(--space-4) * 2);
$caseStudyHeight: calc(100vh - #{$canvasPadding});

#site-header {
  padding: 0;
  background-color: config.$secondary;

  .container {
    max-width: 100%;
    padding: 0;
  }

  #brand-header {

    img {
      max-width: 50%;
      margin: var(--space-3) auto var(--space);
    }
  }

  #main-nav {
    padding-left: 0;
  }

  #main-menubar {
    width: 100%;
    display: flex;
    align-items: stretch;

    .menubar-list-item {
      display: flex;
      justify-content: center;
      align-items: center;

      &:last-child {
        background-color: config.$primary;
      }

      > a {
        color: config.$white;
        max-width: 11ch;
        display: inline-block;
      }  
    }
  }

  .menubar ul[role=menubar] {
    justify-content: space-around;
    align-items: stretch;
    width: 100%;

    li {
      flex: 1;
      text-align: center;
      align-items: center;
    }

    [role=menu] ul {
      display: block;
      columns: 3;

    li {
      flex: 0 0 33%;
    }
  }


  }
}

#hero {
  align-items: stretch;
  margin-left: 0;
  flex-flow: column-reverse;


  @include utility.respond-to(md){
    flex-flow: row;

    > * {
      padding-bottom: 0 !important;
      padding-left: 0 !important;
    }  
  }
}

#hero-image {
  padding-top: 66%;
  // padding-bottom: 0 !important;
  position: relative;

  @include utility.respond-to(md){
    padding-top: 40%;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
} 

#hero-container {
  width: 100%;
  max-width: none;
}

#hero-text {
  // align-content: center;
  // justify-content: center;
  // align-items: center;
  // max-width: 30%;
  // width: 30%;
  // padding: var(--space) !important;
  // text-align: center;
  // background-color: config.$primary;
  // color: config.$white;
  > div {
    padding: var(--space-4);
  }
}


.carousel {
  padding: var(--space-4) 0;
  max-width: 90%;
  margin: 0 auto;

  &.carousel-count-1,
  &.carousel-count-2,
  &.carousel-count-3 {
    max-width: 100%;
  }
}

.slick-track {
  margin-left: 0 !important;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 100;

  &.slick-prev {
    left: 0;
    transform: translateX(-100%) translateY(-50%);
  }

  &.slick-next {
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }

  &.slick-disabled {
    background: gray;
  }
}

.youtube-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 52.6%;
  position: relative;

  iframe {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
  }
}

main {
  overflow: hidden;
}

.block .container {
  padding: 0 var(--space);
}