@use './config';
@use './utility';
@use 'sass:list' as list;
@use 'sass:map' as map;

html {
  background-color: config.$black;
}

body {
  background-color: config.$black;
  background-image: url('/images/STDP_HeaderBGdark.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#unsupported { border: 1px solid yellow; color: black; background-color: #FFFFAD; padding: 2em; margin: 1em; display: inline-block; }
#stars       { 
  display: block; 
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#content {
  background-color: config.$black;
  padding: var(--space-3);
}

body.home,body.section {
  #content {
    background-color: transparent;
  }
  .block {
    img {
      display: inline;
    }
  }  
}

.post-content img {
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}