@use "config";
@use "utility";

// %padding {
//   padding-top: var(--space-1);
//   padding-bottom: var(--space-2);
// }

// %margin {
//   margin-top: var(--space-1);
//   margin-bottom: var(--space-2);
// }

// Headings
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  color: config.$heading-color;
  font-weight: config.$heading-font-weight;
  @extend %padding;

  small {
    display: block;
    font-size: 85%;
  }
}

p,ul,ol {
  @extend %padding;
}

blockquote {
  font-size: var(--space-2);
  @extend %margin;

  cite {
    display: block;
    text-align: right;
  }
}